{% render 'partials/header.liquid', pageName: "Homepage" %}

<h1>Hello!</h1>
<p>There is nothing here yet, check back soon!</p>

<button onclick="window.location.href='https://discord.com/oauth2/authorize?client_id=996759708356595754&permissions=8&scope=bot%20applications.commands'">Invite</button>

{% render 'partials/footer.liquid' %}